#futbol{
    color: green;
}

#p1{
    color: blue;
}

#h2{
    color: red;
}

#h3{
    color: yellow;
}
#rect1{
    background-color: red; width: 200px;height: 100px;

}
#text1{
    color: aquamarine;

}